.collumns__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.rows__container {
  display: flex;
  flex-direction: column;
}

.diagonal__container {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
}
