.collumns__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.rows__container {
  display: flex;
  flex-direction: column;
}

.diagonal__container {
  width: 45%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 0px;
}

.output__container {
  display: flex;
  justify-content: center;
}
